<% @coleccion['ld_tipo_formatos'].each do |tipo_formato| %>
	<div class="row">
		<div class="col-md-8" style="padding-left:20px">
			<small><%= tipo_formato.ld_tipo_formato %></small></br>
		</div>
		<div class="col-md-4">
			<small>
			<%= render partial: '0p/list/link_nuevo_o', locals: {o: tipo_formato, c: 'ld_formatos'} %>
			<%= render partial: '0p/list/link_editar', locals: {objeto: tipo_formato} %>
			<%= render partial: '0p/list/link_eliminar', locals: {objeto: tipo_formato} %>
			</small>
		</div>
	</div>
	<small>
	<ul>
	<% tipo_formato.ld_formatos.order(:ld_formato).each do |formato| %>
		<li>
			<div class="row">
				<div class="col-md-8">
					<%= link_to formato.ld_formato, formato, class: 'sb-link' %>
				</div>
				<div class="col-md-4">
					<%= render partial: '0p/list/link_editar', locals: {objeto: formato} %>
					<%= render partial: '0p/list/link_eliminar', locals: {objeto: formato} %>
				</div>
			</div>
		</li>
	<% end %>
	</ul>
	</small>
<% end %>