<div id="<%= dom_id st_log %>">
  <p>
    <strong>App perfil:</strong>
    <%= st_log.app_perfil_id %>
  </p>

  <p>
    <strong>Class name:</strong>
    <%= st_log.class_name %>
  </p>

  <p>
    <strong>Objeto:</strong>
    <%= st_log.objeto_id %>
  </p>

  <p>
    <strong>E origen:</strong>
    <%= st_log.e_origen %>
  </p>

  <p>
    <strong>E destino:</strong>
    <%= st_log.e_destino %>
  </p>

</div>
