<%= render partial: '0p/general/gly_title_size', locals: {gly: controller_icon['cargos'], title: "Cargo : #{@objeto.cargo}", size: 4 } %>

<%= render partial: '0p/tabs/tabs', locals: { tabs: @tabs, options: @options, token: :tab } %>

<% if @options[:tab] == 'Estructura' %>
	<%= render partial: 'cargos/partials/display_cargo', locals: {cargo: @objeto} %>
<% elsif @options[:tab] == 'Documentos' %>
<div></br>
  <%= render partial: '0p/general/gly_title_size', locals: {gly: controller_icon['control_documentos'], title: "Control documentos de empleados", size: 5 } %>
  <%= render partial: '0p/tabla/tabla', locals: {c: 'control_documentos'} %>
  <%= render partial: '0p/tabla/btn_nuevo_o', locals: {o: @objeto, c: 'control_documentos'} %>
</div>
<% end %>
