<p style="color: green"><%= notice %></p>

<%= render @ld_tipo_formato %>

<div>
  <%= link_to "Edit this ld tipo formato", edit_ld_tipo_formato_path(@ld_tipo_formato) %> |
  <%= link_to "Back to ld tipo formatos", ld_tipo_formatos_path %>

  <%= button_to "Destroy this ld tipo formato", @ld_tipo_formato, method: :delete %>
</div>
