<h1><%= render partial: '0p/general/form_icon_text', locals: {text: m_to_name(@objeto.class.name), size: config[:font_size][:title]} %></h1>

<%= form_with(model: @objeto) do |form| %>

	<% if @objeto.errors.any? %>
		<div style="color: red">
		  <h4><%= @objeto.errors.count %> <%= singular_o_plural(@objeto.errors.count, "error") %> evitan que este registro sea guardado:</h4>

		  <ul>
		    <% @objeto.errors.each do |error| %>
		      <li><%= error.full_message %></li>
		    <% end %>
		  </ul>
		</div>
	<% end %>

		<%= render partial: detail_partial(controller_name), locals: {c: controller_name, form: form} %>

	</br>

	<div class="actions">
		<%= form.submit "#{ action_name == 'new' ? 'Crear' : 'Modificar'} #{m_to_name(@objeto.class.name)}", class: "btn btn-success btn-block" %>
	</div>

<% end %>

