<div id="<%= dom_id control_documento %>">
  <p>
    <strong>Control documento:</strong>
    <%= control_documento.control_documento %>
  </p>

  <p>
    <strong>Existencia:</strong>
    <%= control_documento.existencia %>
  </p>

  <p>
    <strong>Vencimiento:</strong>
    <%= control_documento.vencimiento %>
  </p>

  <p>
    <strong>Ownr class:</strong>
    <%= control_documento.ownr_class %>
  </p>

  <p>
    <strong>Ownr:</strong>
    <%= control_documento.ownr_id %>
  </p>

</div>
