<p style="color: green"><%= notice %></p>

<%= render @ld_tipo_parrafo %>

<div>
  <%= link_to "Edit this ld tipo parrafo", edit_ld_tipo_parrafo_path(@ld_tipo_parrafo) %> |
  <%= link_to "Back to ld tipo parrafos", ld_tipo_parrafos_path %>

  <%= button_to "Destroy this ld tipo parrafo", @ld_tipo_parrafo, method: :delete %>
</div>
