<p style="color: green"><%= notice %></p>

<%= render @ld_formato %>

<div>
  <%= link_to "Edit this ld formato", edit_ld_formato_path(@ld_formato) %> |
  <%= link_to "Back to ld formatos", ld_formatos_path %>

  <%= button_to "Destroy this ld formato", @ld_formato, method: :delete %>
</div>
