<%= render partial: '0p/general/gly_title_size', locals: {gly: controller_icon['empleados'], title: "Empleado : #{@objeto.empleado}", size: 4 } %>

<p><small>
	<%= link_to @objeto.cargo.area.area, @objeto.cargo.area, class: 'sb-link' %> | 
	<%= link_to @objeto.cargo.cargo, @objeto.cargo, class: 'sb-link' %>
</small></p>

<%= render partial: '0p/tabs/tabs', locals: { tabs: @tabs, options: @options, token: :tab } %>


<% if @options[:tab] == 'Estructura' %>
	<%= render partial: 'empleados/partials/display_empleado', locals: {empleado: @objeto} %>
<% elsif @options[:tab] == 'Documentos' %>
	</p>
	<div class='row'>
		<div class='col-md-6'>
			<%= render partial: '0p/general/gly_title_size', locals: {gly: controller_icon['app_repositorios'], title: "Repositorio : #{@objeto.empleado}", size: 5 } %>
			<%= render partial: 'repositorios/app_directorios/partials/directorio', locals: {objeto: @objeto.repositorio, tag: nil} %>
		</div>
		<div class='col-md-6'>
			<%= render partial: '0p/general/gly_title_size', locals: {gly: controller_icon['control_documentos'], title: "Documentos controlados", size: 5 } %>
			<%= render partial: 'empleados/partials/display_documentos_controlados' %>
		</div>
	</div>
	</p>
<% end %>
