<div id="<%= dom_id ld_parrafo %>">
  <p>
    <strong>Ld parrafo:</strong>
    <%= ld_parrafo.ld_parrafo %>
  </p>

  <p>
    <strong>Texto:</strong>
    <%= ld_parrafo.texto %>
  </p>

  <p>
    <strong>Ownr class:</strong>
    <%= ld_parrafo.ownr_class %>
  </p>

  <p>
    <strong>Ownr:</strong>
    <%= ld_parrafo.ownr_id %>
  </p>

</div>
