<p style="color: green"><%= notice %></p>

<%= render @ld_parrafo %>

<div>
  <%= link_to "Edit this ld parrafo", edit_ld_parrafo_path(@ld_parrafo) %> |
  <%= link_to "Back to ld parrafos", ld_parrafos_path %>

  <%= button_to "Destroy this ld parrafo", @ld_parrafo, method: :delete %>
</div>
